*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ADD8E6;
}

.about {
    display: flex;
    padding: 20px;
    align-items: left;
}
.about_cont {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    background-color: #f0ebeb;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    
}
.about_text {
    flex: 1;
    z-index: 1;
}

.about_text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333333;
}
.about_text p {
    font-size: 18px;
    line-height: 1.1;
    color: #666666; /* Lighter text color */
}
.pic-sectiona {
    position: absolute;
    left: 600px;
    z-index: 0;
    bottom: -29px;
   
}
.pic-sectiona .pica {
    width: 800px;
    background-color: red;
    height: 500px;
    opacity: 0.8;
    transform: rotate(8deg); 
}


/* Footer Section */
.footer-section {
    background-color: #427ef5;
    text-align: center;
    padding: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}